.story {
  display: flex;
  margin-bottom: 8px;
  gap: 32px;
  background: white;
  padding: var(--space-8);
  border-radius: var(--border-radius) var(--border-radius) 0 0;
  border-bottom: 4px solid var(--qwik-light-blue);
}

.score {
  display: block;
  margin: auto 0;
  color: var(--qwik-dark-purple);
  font-weight: 500;
  font-size: 1.125em;
}

.info {
  display: flex;
  flex-direction: column;
}

.header {
  display: flex;
  align-items: baseline;
}

.meta,
.domain {
  font-size: 0.9em;
  color: var(--light-grey);
}

a {
  color: var(--light-grey);
}

a:hover {
  color: var(--qwik-dark-purple);
}

.title-anchor {
  color: black;
  text-decoration: none;
  font-weight: 600;
  font-size: 1.5em;
  display: block;
}
